* {
    margin: 0;
}

html, body {
    height: 100%;
    min-width: 900px;
    background: url("../img/first.jfif") repeat;
}

.line {
    width: 100%;
    height: 3px;
    background: darkgrey;
}

section{
    margin-left: 3%;
}

.btn {
    width: 70%;
    height: 50px;
    background: #b9c9fe;
}

h3, h1, h4{
    margin-bottom: 20px;
    margin-top: 20px;
}

input{
}

dt{
    width: 200px;
    display: inline-block;
    margin-bottom: 10px;
}

dd{
    display: inline-block;
}

.main_btn{
    height: 10%;
    width: 30%;
}

header {
    overflow: hidden;
}

header .first {
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: normal;
    border-top: 4px solid #aabcfe;
}

.centre {
    width: 100%;
    display: table;
    margin: 12% auto;
    text-align: center;
}

table {
    margin: 0px auto;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
    font-size: 14px;
    background: white;
    max-width: 70%;
    width: 70%;
    border-collapse: collapse;
    text-align: left;
    box-shadow: 2px 9px 22px 5px rgba(0, 0, 0, 1);
}

th {
    font-size: 13px;
    font-weight: normal;
    background: #b9c9fe;
    border-top: 4px solid #aabcfe;
    border-bottom: 1px solid #fff;
    color: #039;
    padding: 8px;
}

td {
    background: #e8edff;
    border-bottom: 1px solid #fff;
    color: #669;
    border-top: 1px solid transparent;
    padding: 8px;
}

tr:hover td {
    background: #ccddff;
}

footer {
    margin-top: 50px;
    height: auto;
    width: 100%;
}

footer H1 {
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}